<div class="container text-center cent">
    <div class="row justify-content-center">
        <div class="col-8">
            <a href="/"><img src="./assets/img/logo_without.png" class="img-fluid" height="400px" width="400px" alt=""></a>
            <div class="text-center lead ">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/flight" class="text-white"><i class="fa fa-plane fa-lg fa-fw" aria-hidden="true"></i>Flights |</a></li>
                    <li class="list-inline-item"><a href="/hotel" class="text-white"><i class="fa fa-bed fa-lg fa-fw" aria-hidden="true"></i>Hotels |</a></li>
                    <li class="list-inline-item"><a href="/tours" class="text-white"><i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>Tours |</a></li>
                    <li class="list-inline-item"><a href="/safari" class="text-white"><i class="fa fa-compass fa-lg fa-fw" aria-hidden="true"></i>Safari |</a></li>
                    <li class="list-inline-item"><a href="/geeks" class="text-white"><i class="fa fa-compass fa-lg fa-fw" aria-hidden="true"></i>Activities</a></li>
                </ul>
            </div>




            <div class="jumbotron text-center">
                <h1>Hotel City</h1>

                <p>{{ tagline }}</p>
            </div>

        </div>
    </div>
</div>